html {
    color: #f5f2d0;
    font-family: "Poppins", sans-serif;
}

#logout {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 2em;
}

#submit-video {
    position: absolute;
    top: 25px;
    right: 240px;
    font-size: 2em;
}

#break {
    color: rgb(35, 54, 66);
    position: absolute;
    top: 25px;
    right: 225px;
    font-size: 2em;
}

#welcome-container {
    margin: auto;
    text-align: center;

}

#nav-bar {
    padding-top: 0.5em;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    font-weight: 200;
}

#wel-message {
    font-size: 5em;
    font-weight: 800;
    position: relative;
    height: 20px;
    padding-top: 1em;
}


.slogan {
    font-size: 2em;
    position: relative;
    height: 10px;
    font-weight: 400;
    color: rgb(35, 54, 66);
}

.block-text {
    /* background-color: rgb(0, 0, 0), ; */
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    font-weight: 200;
}

#background {
    position: fixed; 
    top: 0; 
    left: 0; 

  /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: 0.75;
    z-index: -1;
   }

li {
    padding: 50px;
    list-style-type: none;
    border: black;
    background-color: rgba(70, 89, 101, 0.35);
    border-radius: 25px;
    height: 50;
    width: 90%;
    margin: 0 0 10px 0;
}

iframe {
    margin: auto;
    width: 60%;
    border: 3px solid #f5f2d0;
    padding: 10px;
    display: block;
}

.video-title {
    padding-top: 1em;
    text-align: center;
}

.video-pub {
    margin-right: 5%;
    margin-left: 5%;
}

.video-desc {
    margin-right: 5%;
    margin-left: 5%;
}

textarea{  
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
  
    padding-top: 10px;
    font-size: 14px;
    margin: 50px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 0;
}

.comments {
    padding: 0px;
    list-style-type: none;
    border: none;
    background-color: transparent;
    height: auto;
    width: 90%;
    margin: 0 0 10px 0;
}

#comment-button {
    display: block;
    margin: auto;
    border: 2px solid #f5f2d0;
    border-radius: 8px;
    font-size: 1em;
    color: #f5f2d0;
    background-color: transparent;
    

}

.delete-btn {
    /* display: inline-block; */
    float: right;
    border: 2px solid red;
    border-radius: 8px;
    font-size: 1em;
    color: red;
    background-color: transparent;
    
}

.comment-hr {
    margin-top: 20px;
}

.new-video-header {
    font-size: 3em;
    margin: auto;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-weight: 400;
}

.video-form {
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
  
    padding-top: 10px;
    font-size: 14px;
    margin: 15px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 0;
    width: 30em;
}

#video-submit-btn {
    display: block;
    margin: auto;
    border: 2px solid #f5f2d0;
    border-radius: 8px;
    font-size: 1em;
    color: #f5f2d0;
    background-color: transparent;
}